/* Default styles */
body {
    background-color: grey;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    color: aliceblue;
}

/* Max width and Centtering the container */
#game-container {
    margin: 0 auto; 
    border: 2px solid white;
}

@media (min-width: 800px) {
    #game-container {
        width: 100%;
    }
}

/* Media query for screens with a maximum width of 800px */
/* Make the game container fill the viewport width  */
@media (max-width: 800px) {
    #game-container {
        width: 99%;
    }
}